* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: lavender;
  padding-top: 8em;
}

.todos {
  font-size: 20vmin;
  color: #8a2be255;
}

.container {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 80%;
  padding: 0.5em;
  font-size: 1.5em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 5px #00000033;
  border: #00000033 1px solid;
  /* outline: blueviolet 1px solid; */
}

p {
  font-size: 0.75em;
  color: #00000088;
}
